extends layout1.pug
block ownhead
  link(rel='stylesheet' type='text/css' href='/css/vis.css')
  script(src='/js/vis.js')
  script(src='/js/myvis.js')
block menu
  include menu.pug
block content
  .container-fluid
    include regForm.pug
    .col-md-3
      .panel.panel-default
        .panel-heading
          b Добро пожаловать на AG+ !
        .panel-body  Здесь изучают общую и линейную алгебру и аналитическую геометрию
          | в пределах стандартных университетских курсов для математических специальностей.
          | Для представления материала используется предложенная нами технология
          b 3D!Book
      button.btn(type='button' data-toggle='modal' data-target='#modalDialog') Тест модалки
    .col-md-6
      .container-fluid#myGraph(style='height:70vh')
    .col-md-3
      .panel.panel-default
        .panel-heading
          b Технология 3D!Book
        .panel-body
          ul  
            li представление теоретического материала в виде логического дерева определений, теорем, задач и коментариев
            li возможность выборки элементов логического дерева для получения книжного представления
  include modalDialog.pug
