extends layout1.pug

block menu
  include menu.pug
block content
  .container-fluid
    include regForm.pug
    .col-md-6
      .jumbotron
        h2 Добро пожаловать на портал &laquo;<?php echo SITE_NAME ?>&raquo; !
        p  Здесь изучают общую и линейную алгебру и аналитическую геометрию
          | в пределах стандартных университетских курсов для математических специальностей.
          | Для представления материала используется предложенная нами технология
          | <b> 3D!Book</b>.
    .col-md-6
      .jumbotron
        h2 Технология 3D!Book
        p Основные идеи:
          ul  
            li теоретический материал представлен <b>не</b> в виде плоского изложения в стандартном книжном формате,
              | а в виде логического дерева понятий, определений и теорем
            li каждый может сам сделать для себя нужную выборку и получить фрагмент в книжном формате или же
              | пользоваться информацией в представленном виде
            li в эту же структуру дерева включены и задачи, причем как теоретического так и практического характера

